<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Web ini untuk melihat dan mengetahui Restaurant terbaik di indonesia,Nantikan info terbaru dari web ini" />
    <title>Restaurant Catalogue</title>
  </head>
  <body>
    <a href="#content" class="skip-link">Skip to content ?</a>
    <header>
      <drawer-mobile></drawer-mobile>
      <navbar-brand></navbar-brand>
    </header>
    <main id="content">
      <jumbotron-bg></jumbotron-bg>
      <title-resto></title-resto>
      <restaurant-page></restaurant-page>
    </main>
    <footer>
      <footer-goks></footer-goks>
    </footer>
  </body>
</html>
